language: generic 
sudo: required
services: 
  - docker 

before_install:
  - docker build -t ltlouie/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true ltlouie/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-west-1"
  app: "docker"
  env: "Docker-env"
  bucket_name: "elasticbeanstalk-us-west-1-675801125365"
  bucket_path: "docker"
  on: 
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: "$AWS_SECRET_KEY"

